body{
    margin: 0;
    padding: 0;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.headshot{
    width: 450px;
    background: rgba(0, 0, 0, 0.4)
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: gray;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.headshot-img{
    border-radius: 10%; 
    width: 350px;
    height: auto;
}
.box h1{
    font-size: 40px;
    font-weight:100;
}
.box h4{
    font-size: 25px;
    letter-spacing: 5px;
    font-weight:100;
}
.box p{
    text-align:center;
}
.menu{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
a:link {color:gray}
a:active {color:black}
a:hover {color:black}
.two-column {
    display: flex;
    column-gap: 40px;
}
.two-column > div:first-child {
    background-color: lightgrey;
    color: gray;
    flex: 3;
    padding: 15px;
}
.two-column > div:last-child {
    background-color: lightgrey;
    color: gray;
    flex: 1;
    padding: 15px;
}
h1{
    color: gray;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.AZ{
    width: auto;
    height:auto;
    padding: 5px;
}
.dog{
    width: auto;
    height:auto;
    padding: 5px;
}
.more-columns {
    display: flex;
    column-gap: 40px;
}
.more-columns > div:first-child {
    background-color: lightgrey;
    color: gray;
    flex: 3;
    padding: 15px;
}
.more-columns > div:last-child {
    background-color: lightgrey;
    color: gray;
    flex: 1;
    padding: 15px;
}
h1{
    color: gray;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.pic-1{
    width: auto;
    height:auto;
    padding: 5px;
}
.pic-2{
    width: auto;
    height:auto;
    padding: 5px;
}
.flexForm{
    display: flex;
    justify-content: center;
    color: gray;
}